*{
  /* font-family: 'Open Sans', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ---------------------------main-diy-left---------------- */

.default-color{
  color: #003459;
}

/* -----------------------btn-class---------------- */
.link-class{
  background-color: #003459;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}
.link-class:hover{
  color: #fff !important;
}

/* -----------------------body----------- */
/* -----------------------main-diy-left----------- */

.main-diy-left{
  height: 524px;
  width: 806px;
}
.local-svg{
  width: 112px;
  height: 112px;
}
/* -----------------------main-diy-right----------- */
.main-diy-right{
  width: 350px;
  height: 524px;
}

.diy-h3{
  background: #f6f6f6;
}
.diy-container{
  display: flex;
}
.option{
  border: 1px solid #707070;
  border-radius: 10px;
  height: 39px;
  margin: 0 5px 0 0;
}
.font-option{
  width: 266px;
}
.size-option{
  width: 58px;
}
.font-style-change{
  width: 43px;
  height: 29px;
}
.pictograms-text{
  margin: 0 0 0 10px;
  font-size: small;
  font-weight: 500;
}
.pictograms-icon{
  margin-right: 5px;
}

/* ---------------------place-order-link------------ */
.place-order-link{
  left: 72%;
}
.order-link{
  position: relative;
  display: inline-block;
}
.link-place{
  position: relative;
  bottom: 80px;
}

/* -----------------------image-template------------- */
.image-template{
  width: 246px;
  height: 242px;
  border: 1px solid #CFCFCF;
  border-radius: 22px;
  margin: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* --------------image-map-link------- */
.order-link{
  left: 65%;
}
.already-template-link{
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
.already-template-link:hover{
  color: #000;
}

/* -----------------------DIY**TWO------------------------------ */
/* -----------------------DIY**TWO------------------------------ */
/* -----------------------DIY**TWO------------------------------ */
/* -----------------------DIY**TWO------------------------------ */
/* .diy-sidebar-container{
  position: relative;
} */
 .diy-header{
   display: flex;
   align-items: center;
   width: auto;
   height: 85px;
   background: #f6f6f6;
 }
 .diy-header-h3{
  color: #003459;
 }
 .diy-sidebar{
   height: 570px;
   width: 136px;
   background: #003459;
   position: absolute;
   top: 126px;
   z-index: 100;
   border-radius: 0 16px 16px 0;
   -webkit-box-shadow: -1px 0px 9px 4px rgba(0,0,0,0.68); 
   box-shadow: -1px 0px 9px 4px rgba(0,0,0,0.68);
   padding: 16px 10px 10px 28px;
 }
 .diy-sidebar a{
   text-decoration: none;
 }
 .diy-sidebar-div{
   /* position: relative; */
   /* z-index: 10; */
   box-shadow: #000;
   
 }
 /* .diy-sidebar-ul{
   width: 78px;
   height: 526px;
   align-items: center;
 }
 .diy-sidebar-ul li{
   text-decoration: none;
   list-style: none;
   margin:30px 0 30px 0;
   cursor: pointer;
   align-items: flex-end;
 }
 .diy-sidebar-item{
   display: flex;
   justify-content: center;
 }
 .diy-icon-templates{
  padding-left: 1px;
 }
 .diy-icon-pictograms{
   padding-left: 5px;
 }
 .diy-icon-text{
  padding-left: 13px;
 }
 .diy-icon-upload{
   padding-left: 7px;
 }
 .diy-icon-logo{
   padding-left: 12px;
 }
 .diy-icon-background-div{
   display: inline-block;
 }
 .diy-icon-background{
   padding-right: 7px;
 } */
/* -----------------------diy-container-pictograms----------------------- */
.diy-container-pictograms{
  height: 602px;
  width: 524px;
  background: #003459;
  border-radius: 0 16px 16px 0;
  z-index: 10;
  /* position: relative; */
  /* text-align: center; */
  /* transition: 0.3s all cubic-bezier(0.22, 0.61, 0.36, 1); */
}
.pictograms-h4{
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0 !important;
  margin-left: 20px;
}
.pictograms-button-group{
  align-items: center;
}
.pictograms-button-group-main{
  padding-right: 10px;
}
.container-icon{
  margin: 6px 21px 0 12px;
}
.pictograms-logo{
  width: 151px;
  height: 137px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 5px 10px 5px;
}
                              /* button */
.btn-class{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 7px;
  margin: 8px 12px;
  font-weight: bold;
  letter-spacing: 1px;
  width: 157px;
  height: 40px;
  box-shadow: 5px 5px 11px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 5px 5px 11px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 11px -3px rgba(0,0,0,0.75);
  border: none;
  
}
.btn-road-signs{
  background-image: linear-gradient(145deg, #007ED8, #008BB9);
}
.btn-flammable{
  background-image: linear-gradient(145deg, #56CCF2, #008BB8);
}
.btn-emergency{
  background-image: linear-gradient(145deg, #057CD1, #1056A7);
}
.btn-radiation{
  background-image: linear-gradient(145deg, #569FF2, #0C70B7);
}
.btn-flammable-two{
  background-image: linear-gradient(145deg, #56CCF2, #008BB8);
}
.btn-road-signs-two{
  background-image: linear-gradient(145deg, #0B5F9B, #008BB8);
}
.btn-class svg{
  margin-right: 8px;
  height: 17px;
  width: 24px;
}
.btn-class p{
  margin-bottom: 0;
}

/* -------------------------------diy-body------------------- */
.diy-container{
  margin-left: 32%;
  transition: 0.5s all cubic-bezier(0.22, 0.61, 0.36, 1);

}
.diy-body{
  /* height: 380px;
  width: 380px; */
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
}